body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.discoGrid {
  border: #333 3px solid;
  width: 100%;
  max-width: 750px;
  height: fit-content;
  text-align: center;
  position: relative;
}

.discoRow {
  width: 100%;
  height: 20%;
  display: flex;
}

.discoSquare {
  background-color: #2980b9;
  max-width: 150px;
  width: 20%;
  outline: #333 2px solid;
  position: relative;
}

.discoGrid img {
  display: block;
  width: 100%;
}

.discoZooAnimal {
  filter: brightness(1);
}

.discoZooAnimal:hover {
  filter: brightness(0.9);
}

.discoZooTileMenu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.discoZooCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.discoAnimalC {
  height: 150px;
}

.discoAnimalC img {
  float: left;
}

.discoAnimalC span {
  cursor: pointer;
}

.discoInput {
  width: 100px;
  height: 100px;
  font-size: 50px;
}

/* switch from https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}